page-flights {
  img {
    width: 20px;
    border-radius: 50%;
    left:0;
  }

  .compas {
    display: inline-block;
  }

  .header-images {
    text-align: center
  }
  .col {
    overflow: hidden;
  }

}
